@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

/* colors  */
:root {
  /* primary */
  --white: hsla(0, 0%, 100%, 0.95);
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

body {
  min-height: 100vh;
  min-width: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  background-color: var(--white);
  font-family: 'Poppins', sans-serif;
  background: var(--violet) url(./images/bg-desktop.svg) no-repeat center;
  background-size: 100%;
}

/* font-family: 'Open Sans', sans-serif; */

/* font-size */

.hero__heading h1 {
  font: 600 40px/60px 'Poppins', sans-serif;
  color: var(--white);
}

.hero__heading p {
  font: 400 18px/27px 'Open Sans', sans-serif;
  color: var(--white);
}

.btn {
  font: 400 18px/27px 'Poppins', sans-serif;
  border-radius: 40px;
  padding: 13px 63px;
  color: var(--violet);
  background-color: var(--white);
}